<!DOCTYPE html>
<html>
  <head>
    <title>
      {{ page_title -}}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%} {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>
    {% if page_description %}
    	<meta name="description" content="{{ page_description | escape }}" />
	{% endif %}
    {%- if settings.favicon != blank -%}
    	<link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
	{%- endif -%}
    {{ 'pace-theme-flash.css' | asset_url | stylesheet_tag }}
    {{ 'bootstrap.min.css' | asset_url | stylesheet_tag }}
    {{ 'jquery.scrollbar.css' | asset_url | stylesheet_tag }}
    {{ 'select2.min.css' | asset_url | stylesheet_tag }}
    {{ 'pages.css' | asset_url | stylesheet_tag }}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    {{ 'style.css' | asset_url | stylesheet_tag }}
    {{ 'ecotech.css' | asset_url | stylesheet_tag }}
    {{ 'colours.css' | asset_url | stylesheet_tag }}
    {{ content_for_header }}
  </head>
  	<body class="eco-page fixed-header horizontal-menu horizontal-app-menu ">
		<div class="page-container">
    		<div id="section-top" class="container container-fluid sm-gutter no-padding">
				<div class="header">
					<div class="header-inner">
						<a href="#" class="btn-link toggle-sidebar d-lg-none header-icon sm-p-l-0 btn-icon-link" data-toggle="horizontal-menu"><i class="pg-icon">menu</i></a>
						<div class="">
							<a href="#" class="search-link d-lg-inline-block d-none" data-toggle="search"><i class="material-icons fs-21">search</i>Type anywhere to <span class="bold">search</span></a>
						</div>
						<div class="d-flex align-items-center">
							<ul class="d-lg-inline-block d-none notification-list no-margin d-lg-inline-block b-grey b-l b-rx no-style p-l-20 p-r-0">
								<li class="p-r-10 inline"><a href="#" class="header-icon btn-icon-link"><i class="material-icons fs-16">shopping_cart</i><span class="bubble fs-12"><span class="fs-11">3</span></span></a></li>
								<li class="p-r-10 inline"><a href="#" class="header-icon btn-icon-link"><i class="material-icons fs-16">perm_phone_msg</i></a></li>
								<li class="p-r-10 inline"><a href="#" class="header-icon btn-icon-link"><i class="material-icons fs-16">share</i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div id="section-header" class="container container-fluid sm-gutter no-padding">
				<div class="card card-default m-b-0">
					<div class="card-header header">
						<div class="header-inner justify-content-start header-lg-height title-bar">
							<div class="brand inline align-self-end">
								<img src="{{ 'eco.box.green.png' | asset_img_url: 'icon' }}" alt="logo" data-src="{{ 'eco.box.green.png' | asset_img_url: 'icon' }}" data-src-retina="{{ 'eco.box.green.png' | asset_img_url: 'icon' }}" width=28 height="28">
							</div>
							<h2 class="page-title align-self-end">{{ shop.name }}</h2>
						</div>
					</div>
    				{% section 'homepage-banner' %}
					<div class="card-footer">
						<nav id="section-menu">
							<div class="menu-bar header-sm-height">
								<a href="#" class="btn-link header-icon toggle-sidebar d-lg-none" data-toggle="horizontal-menu">
									<i class="pg-icon">close</i>
								</a>
								<ul>
                  {% for link in linklists.main-menu.links %}
                    <li>
                      <a class="m-l-10 m-r-10" href="{{ link.url }}">
                        <span class="title">{{ link.title }}</span>
                      </a>
                    </li>
                    </span>
                  {% endfor %}
								</ul>
								<a href="#" class="search-link d-flex justify-content-between align-items-center d-lg-none"
								data-toggle="search">Tap here to search <i class="pg-search float-right"></i></a>
							</div>
						</nav>
					</div>
				</div>
			</div>
  		{{ content_for_index }}
  		{{ content_for_layout }}
			<div id="section-main" class="page-content-wrapper">
				<div class="content">
    			{% section 'section-solutions' %}
					<hr>
    			{% section 'section-featured-posts' %}
				</div>
			</div>
			<div id="section-bottom" class="container container-fluid sm-gutter no-padding">
				<div class="copyright sm-text-center">
				<p class="small no-margin pull-left sm-pull-reset left-footer-menu">
                  <span class="hint-text">Copyright &copy; {{ 'now' | date: "%Y" }}</span>
                  <span class="font-montserrat bold">{{ shop.name | link_to: routes.root_url }}</span>.
                  <span class="hint-text">All rights reserved.</span>
                  {% for link in linklists.left-footer-menu.links %}
                    <span class="sm-block">
                      <a class="m-l-10 m-r-10" href="{{ link.url }}">{{ link.title }}</a>
                    </span>
                  {% endfor %}
                  <!--<span class="sm-block"><a href="#" class="m-l-10 m-r-10">Products</a> | <a href="#" class="m-l-10 m-r-10">Resources</a> | <a href="#" class="m-l-10">Support</a></span>
                </p>-->
				<p class="small no-margin pull-right sm-pull-reset right-footer-menu">
                  {% for link in linklists.right-footer-menu.links %}
                    <span class="sm-block">
                      <a class="m-l-10 m-r-10" href="{{ link.url }}">{{ link.title }}</a>
                    </span>
                  {% endfor %}




					<!--<span class="sm-block"><a class="m-l-10 m-r-10" href="#">Terms &amp; Conditions</a> | <a href="#" class="m-l-10 m-r-10">Privacy Policy</a> | <a href="eco.sitemap.html" class="m-l-10 m-r-10">Sitemap</a></span>-->
				</p>
				<div class="clearfix"></div>
				</div>
			</div>
			<!-- START OVERLAY -->
			<div class="overlay hide" data-pages="search">
				<!-- BEGIN Overlay Content !-->
				<div class="overlay-content has-results m-t-20">
					<!-- BEGIN Overlay Header !-->
					<div class="container-fluid">
						<!-- BEGIN Overlay Logo !-->
						<img class="overlay-brand" src="{{ 'eco.box.green.png' | asset_img_url: 'icon' }}" alt="logo" data-src="{{ 'eco.box.green.png' | asset_img_url: 'icon' }}" data-src-retina="{{ 'eco.box.green.png' | asset_img_url: 'icon' }}" width="32">
						<!-- END Overlay Logo !-->
						<!-- BEGIN Overlay Close !-->
						<a href="#" class="close-icon-light btn-link btn-rounded  overlay-close text-black">
							<i class="pg-icon">close</i>
						</a>
						<!-- END Overlay Close !-->
					</div>
					<!-- END Overlay Header !-->
					<div class="container-fluid">
						<!-- BEGIN Overlay Controls !-->
						<input id="overlay-search" class="no-border overlay-search bg-transparent" placeholder="Search..." autocomplete="off" spellcheck="false">
						<br>
						<div class="d-flex align-items-center">
							<div class="form-check form-check-inline right m-b-0">
								<input id="checkboxn" type="checkbox" value="1">
								<label for="checkboxn">Search within page</label>
							</div>
							<p class="fs-13 hint-text m-l-10 m-b-0">Press enter to search</p>
						</div>
						<!-- END Overlay Controls !-->
					</div>
					<!-- BEGIN Overlay Search Results, This part is for demo purpose, you can add anything you like !-->
					<div class="container-fluid p-t-20">
						<span class="hint-text">
							suggestions :
						</span>
						<span class="overlay-suggestions"></span>
						<br>
						<div class="search-results m-t-30">
							<p class="bold">Pages Search Results: <span class="overlay-suggestions"></span></p>
							<div class="row">
								<div class="col-md-6">
									<!-- BEGIN Search Result Item !-->
									<div class="d-flex m-t-15">
										<!-- BEGIN Search Result Item Thumbnail !-->
										<div class="thumbnail-wrapper d48 circular bg-success text-white ">
											<img width="36" height="36" src="assets/img/profiles/avatar.jpg" data-src="assets/img/profiles/avatar.jpg" data-src-retina="assets/img/profiles/avatar2x.jpg" alt="">
										</div>
										<!-- END Search Result Item Thumbnail !-->
										<div class="p-l-10">
											<h5 class="no-margin "><span class="semi-bold result-name">ice cream</span> on pages</h5>
											<p class="small-text hint-text">via john smith</p>
										</div>
									</div>
									<!-- END Search Result Item !-->
									<!-- BEGIN Search Result Item !-->
									<div class="d-flex m-t-15">
										<!-- BEGIN Search Result Item Thumbnail !-->
										<div class="thumbnail-wrapper d48 circular bg-success text-white ">
											<div>T</div>
										</div>
										<!-- END Search Result Item Thumbnail !-->
										<div class="p-l-10">
											<h5 class="no-margin "><span class="semi-bold result-name">ice cream</span> related topics</h5>
											<p class="small-text hint-text">via pages</p>
										</div>
									</div>
									<!-- END Search Result Item !-->
									<!-- BEGIN Search Result Item !-->
									<div class="d-flex m-t-15">
										<!-- BEGIN Search Result Item Thumbnail !-->
										<div class="thumbnail-wrapper d48 circular bg-success text-white ">
											<div>M
											</div>
										</div>
										<!-- END Search Result Item Thumbnail !-->
										<div class="p-l-10">
											<h5 class="no-margin "><span class="semi-bold result-name">ice cream</span> music</h5>
											<p class="small-text hint-text">via pagesmix</p>
										</div>
									</div>
									<!-- END Search Result Item !-->
								</div>
								<div class="col-md-6">
									<!-- BEGIN Search Result Item !-->
									<div class="d-flex m-t-15">
										<!-- BEGIN Search Result Item Thumbnail !-->
										<div class="thumbnail-wrapper d48 circular bg-info text-white d-flex align-items-center">
											<i class="pg-icon">facebook</i>
										</div>
										<!-- END Search Result Item Thumbnail !-->
										<div class="p-l-10">
											<h5 class="no-margin "><span class="semi-bold result-name">ice cream</span> on facebook</h5>
											<p class="small-text hint-text">via facebook</p>
										</div>
									</div>
									<!-- END Search Result Item !-->
									<!-- BEGIN Search Result Item !-->
									<div class="d-flex m-t-15">
										<!-- BEGIN Search Result Item Thumbnail !-->
										<div class="thumbnail-wrapper d48 circular bg-complete text-white d-flex align-items-center">
											<i class="pg-icon">twitter</i>
										</div>
										<!-- END Search Result Item Thumbnail !-->
										<div class="p-l-10">
											<h5 class="no-margin ">Tweats on<span class="semi-bold result-name"> ice cream</span></h5>
											<p class="small-text hint-text">via twitter</p>
										</div>
									</div>
									<!-- END Search Result Item !-->
									<!-- BEGIN Search Result Item !-->
									<div class="d-flex m-t-15">
										<!-- BEGIN Search Result Item Thumbnail !-->
										<div class="thumbnail-wrapper d48 circular text-white bg-danger d-flex align-items-center">
											<i class="pg-icon">google_plus</i>
										</div>
										<!-- END Search Result Item Thumbnail !-->
										<div class="p-l-10">
											<h5 class="no-margin ">Circles on<span class="semi-bold result-name"> ice cream</span></h5>
											<p class="small-text hint-text">via google plus</p>
										</div>
									</div>
									<!-- END Search Result Item !-->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
    	</div>
		{{ 'pace.min.js' | asset_url | script_tag }}
		{{ 'liga.js' | asset_url | script_tag }}
		{{ 'jquery-3.2.1.min.js' | asset_url | script_tag }}
		{{ 'modernizr.custom.js' | asset_url | script_tag }}
		{{ 'popper.min.js' | asset_url | script_tag }}
		{{ 'bootstrap.min.js' | asset_url | script_tag }}

		<scripts src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		
		{{ 'jquery-easy.js' | asset_url | script_tag }}
		{{ 'jquery.unveil.min.js' | asset_url | script_tag }}
		{{ 'jquery.ioslist.min.js' | asset_url | script_tag }}
		{{ 'jquery.actual.min.js' | asset_url | script_tag }}
		{{ 'jquery.scrollbar.min.js' | asset_url | script_tag }}
		{{ 'select2.full.min.js' | asset_url | script_tag }}
		{{ 'classie.js' | asset_url | script_tag }}
		{{ 'pages.min.js' | asset_url | script_tag }}
		{{ 'scripts.js' | asset_url | script_tag }}
		<script>
			$('carousel').carousel({
				interval: 1000
			});
		</script>
  	</body>
</html>