<!-- Homepage Banner Section . start -->
  <div class="card-content page-banner">
    <div class="row d-flex flex-row collage">
      <!-- Slideshow Block . start -->
        <div id="carouselHomepage" class="carousel slide col col-lg-8 carousel-fade" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselHomepage" data-slide-to="0" class="active"></li>
            <li data-target="#carouselHomepage" data-slide-to="1"></li>
            <li data-target="#carouselHomepage" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              {% for block in section.blocks %}
                {{ block.settings.homepage_slide_img_1 | image_url: width: 1024 | image_tag }}
                <div class="carousel-caption d-none d-md-block">
                  <h5>{{ block.settings.homepage_slide_heading_1 }}</h5>
                  <p>{{ block.settings.homepage_slide_caption_1 }}</p>
                </div>
              {% endfor %}
            </div>
            <div class="carousel-item">
              {% for block in section.blocks %}
                {{ block.settings.homepage_slide_img_2 | image_url: width: 1024 | image_tag }}
                <div class="carousel-caption d-none d-md-block">
                  <h5>{{ block.settings.homepage_slide_heading_2 }}</h5>
                  <p>{{ block.settings.homepage_slide_caption_2 }}</p>
                </div>
              {% endfor %}
            </div>
            <div class="carousel-item">
              {% for block in section.blocks %}
                {{ block.settings.homepage_slide_img_3 | image_url: width: 1024 | image_tag }}
                <div class="carousel-caption d-none d-md-block">
                  <h5>{{ block.settings.homepage_slide_heading_3 }}</h5>
                  <p>{{ block.settings.homepage_slide_caption_3 }}</p>
                </div>
              {% endfor %}
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselHomepage" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">&nbsp;</span>
          </a>
          <a class="carousel-control-next" href="#carouselHomepage" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">&nbsp;</span>
          </a>
        </div>
      <!-- Slideshow Block . end -->
      <!-- Welcome Block . start -->
        <div class="col col-lg-4 bg-warning no-border">
            <div class="card card-transparent m-b-0">
              <div class="card-header separator">
                <div class="card-title">
                  {% for block in section.blocks %}
                    <h2 class="fs-18">{{ block.settings.welcome-heading | newline_to_br }}</h2>
                  {% endfor %}
                </div>
              </div>
              <div class="card-body">
                {% for block in section.blocks %}
                  {{ block.settings.welcome-content | newline_to_br }}
                {% endfor %}
              </div>
              <div class="card-footer">
                {% for block in section.blocks %}
                  <a href="{{ block.settings.welcome-link }}" class="text-black hint-text text-sm">{{ block.settings.welcome-btn }}</a>
                {% endfor %}
              </div>
            </div>
        </div>
      <!-- Welcome Block . end -->
    </div>
  </div>
<!-- Homepage Banner Section . end -->
<!-- Homepage Banner Schema . start -->
  {% schema %}
    {
      "name": "Homepage Banner",
      "tag": "section",
      "class": "homepage-banner banner",
      "limit": 1,
      "settings": [],
      "max_blocks": 2,
      "blocks": [
        {
          "name": "Slideshow",
          "type": "HTML",
          "settings": [
            {
             "type": "image_picker",
             "id": "homepage_slide_img_1",
             "label": "Homepage Slider Image 1"
            },
            {
            "id": "homepage_slide_heading_1",
            "type": "text",
            "label": "Homepage Slider Heading 1"
            },
            {
            "id": "homepage_slide_caption_1",
            "type": "textarea",
            "label": "Homepage Slider Caption 1"
            },
            {
             "type": "image_picker",
             "id": "homepage_slide_img_2",
             "label": "Homepage Slider Image 2"
            },
            {
            "id": "homepage_slide_heading_2",
            "type": "text",
            "label": "Homepage Slider Heading 2"
            },
            {
            "id": "homepage_slide_caption_2",
            "type": "textarea",
            "label": "Homepage Slider Caption 2"
            },
            {
             "type": "image_picker",
             "id": "homepage_slide_img_3",
             "label": "Homepage Slider Image 3"
            },
            {
            "id": "homepage_slide_heading_3",
            "type": "text",
            "label": "Homepage Slider Heading 3"
            },
            {
            "id": "homepage_slide_caption_3",
            "type": "textarea",
            "label": "Homepage Slider Caption 3"
            }
          ]
        },
        {
          "name": "Welcome Text",
          "type": "text",
          "settings": [
            {
            "id": "welcome-heading",
            "type": "textarea",
            "label": "Headline"
            },
            {
            "id": "welcome-content",
            "type": "textarea",
            "label": "Content"
            },
            {
            "id": "welcome-link",
            "type": "url",
            "label": "Link button to:"
            },
            {
            "id": "welcome-btn",
            "type": "text",
            "label": "Button label"
            }
          ]
        }
      ],
      "presets": [
        {
          "name": "Banner",
          "category": "BANNERS"
        }
      ]
    }
  {% endschema %}
<!-- Homepage Banner Schema . end -->
<!-- Homepage Banner Styling . start -->
  {% stylesheet %}
    <links rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style type="text/css">
      .carousel .carousel-indicators li {
        background-color: red;
      }
      .carousel .carousel-indicators li.active {
        background-color: blue;
      }
    </style>
  {% endstylesheet %}
<!-- Homepage Banner Styling . end -->
<!-- Homepage Banner Scripts . start -->
  {% javascript %}
  {% endjavascript %}
<!-- Homepage Banner Scripts . end -->