					<div id="section-solutions"class="container container-fixed-lg sm-gutter no-padding">
						<div class="row welcome sm-gutter d-flex flex-row">
							{% for collection in collections %}
								<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
									<div class="card card-default feature-1 align-bottom h-100">
										<div class="card-content img">
											{%- if collection.image -%}
												{%- assign collection_image = collection.image -%}
												{%- elsif collection.products.first and collection.products.first.images != empty -%}
													{%- assign collection_image = collection.products.first.featured_image -%}
												{%- else -%}
												{%- assign collection_image = blank -%}
											{%- endif -%}
											<a href="{{ collection.url }}">
												<img src="{{ collection_image | img_url: '480x' }}" alt="{{ collection.handle }} image">
											</a>
										</div>
										<div class="card-header separator">
											<div class="card-title"><a href="">Solutions</a></div>
										</div>
										<div class="card-body">
											<div class="card-content">
												<h3>{{- collection.title | link_to: collection.url }}</h3>
												<p>{{ collection.description }}</p>
												<div class="d-grid gap-1">
													<a href="{{ collection.url }}" aria-label="" type="button" class="btn btn-xs btn-default btn-block btn-icon-right">Learn more</a>
													<div class="btn-group btn-block dropdown-success">
														<button aria-label="" class="btn btn-lg dropdown-toggle btn-success" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Choose From {{ collection.title }} Solutions</button>
														<ul class="dropdown-menu full-width">
															{%- for product in collection.products -%}
															  <a class="dropdown-item" href="{{ product.url | within: collection }}">{{ product.title }}</a>
															{%- endfor -%}
														</ul>
													</div>
												</div>
											</div>
										</div>
										<div class="card-footer">
											<div class="btn-group btn-group-vertical text-left full-width">
												{% assign collection_handle = collection.handle %}
												{% for article in blogs.articles limit:2 %}
													{% assign article_tags = article.tags %}
													{% if article_tags contains collection_handle %}
														<a class="btn btn-link" href="{{ article.url }}">{{ article.title }}</a>
													{% endif %}
												{% endfor %}
											</div>
										</div>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>